.button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 34px;
    padding: 0;
    filter: grayscale(1);
}

.button:hover {
    transform: scale(1.3);
    transition: all .3s;
}

.favorite {
    filter: grayscale(0);
}